## NJSLA Import Script
Creating a script that creates a template for NJSLA testing imports

In [1]:
# importing packages
import pandas as pd
import datetime as dt
import string as str

In [2]:
# importing data
df = pd.read_excel(r"S:\ASSESSMENTS\NJSLA 2025\NJSLA 2025 ELA Math Summative Record File.xlsx")

In [3]:
# adding test column to the df
df['TEST'] = 'NJSLA'

In [4]:
# data cleaning
df['TEST DATE'] = df['Unit1OnlineTestStartDateTime'].dt.strftime('%m/%d/%Y')

In [5]:
df['TestCode'].sort_values().unique()

array(['ALG01', 'ALG02', 'ELA03', 'ELA04', 'ELA05', 'ELA06', 'ELA07',
       'ELA08', 'ELA09', 'GEO01', 'MAT03', 'MAT04', 'MAT05', 'MAT06',
       'MAT07', 'MAT08'], dtype=object)

In [6]:
def MATHTEST(row):
    if row['TestCode'] in ['ALG01', 'ALG02','GEO01', 'MAT03', 
                           'MAT04', 'MAT05', 'MAT06','MAT07', 'MAT08']:
        return row['TestCode']
    else:
        pd.NA
df['MATHTEST'] = df.apply(MATHTEST, axis = 1)

In [7]:
def ELATEST(row):
    if row['TestCode'] in ['ELA03', 'ELA04', 'ELA05', 'ELA06',
                           'ELA07','ELA08', 'ELA09']:
        return row['TestCode']
    else:
        pd.NA
df['ELATEST'] = df.apply(ELATEST, axis = 1)

In [8]:
def MATHSCORE(row):
    if row['TestCode']in ['ALG01', 'ALG02','GEO01', 'MAT03', 
                           'MAT04', 'MAT05', 'MAT06','MAT07', 'MAT08']:
        return row['TestScaleScore']
    else:
        return pd.NA
df['MATHSCORE'] = df.apply(MATHSCORE, axis = 1)

In [9]:
def ELASCORE(row):
    if row['TestCode']in ['ELA03', 'ELA04', 'ELA05', 'ELA06',
                           'ELA07','ELA08', 'ELA09']:
        return row['TestScaleScore']
    else:
        return pd.NA
df['ELASCORE'] = df.apply(ELASCORE, axis = 1)

In [10]:
def MATHPL(row):
    if row['TestCode']in ['ALG01', 'ALG02','GEO01', 'MAT03', 
                           'MAT04', 'MAT05', 'MAT06','MAT07', 'MAT08']:
        return row['TestPerformanceLevel']
    else:
        return pd.NA
df['MATHPL'] = df.apply(MATHPL, axis = 1)

In [11]:
def ELAPL(row):
    if row['TestCode']in ['ELA03', 'ELA04', 'ELA05', 'ELA06',
                           'ELA07','ELA08', 'ELA09']:
        return row['TestPerformanceLevel']
    else:
        return pd.NA
df['ELAPL'] = df.apply(ELAPL, axis = 1)

In [12]:
df['AccountableSchoolCode'].unique()

array([ 50,  60,  70,  85, 130, 110, 100, 120,  90], dtype=int64)

In [13]:
# entity formula
def entity(row):
    if row['AccountableSchoolCode'] == 50:
        return '010'
    elif row['AccountableSchoolCode'] == 60:
        return '008'
    elif row['AccountableSchoolCode'] == 70:
        return '009'
    elif row['AccountableSchoolCode'] == 85:
        return '002'
    elif row['AccountableSchoolCode'] == 90:
        return '004'
    elif row['AccountableSchoolCode'] == 100:
        return '005'
    elif row['AccountableSchoolCode'] == 110:
        return '006'
    elif row['AccountableSchoolCode'] == 120:
        return '003'
    elif row['AccountableSchoolCode'] == 130:
        return '007'
df['Entity'] = df.apply(entity, axis = 1)
df['Entity'] = df['Entity'].astype('str')

In [14]:
df_math = df[['StateStudentIdentifier','LocalStudentIdentifier','LastOrSurname','FirstName',
   'GradeLevelWhenAssessed','TEST','TEST DATE','MATHTEST','MATHSCORE','MATHPL','Entity']]
    

df_math = df_math[df_math['MATHSCORE'].notna()]

In [15]:
df_ela = df[['StateStudentIdentifier','LocalStudentIdentifier','LastOrSurname','FirstName',
             'ELATEST','ELASCORE','ELAPL', 'Entity' ]]
    

df_ela = df_ela[df_ela['ELASCORE'].notna()]

In [16]:
df_math

,StateStudentIdentifier,LocalStudentIdentifier,LastOrSurname,FirstName,GradeLevelWhenAssessed,TEST,TEST DATE,MATHTEST,MATHSCORE,MATHPL,Entity
0,1002819066,905930.0,COPPOLA,ZOE,9,NJSLA,05/19/2025,ALG01,776.0,4.0,010
2,1031843015,906012.0,PRETTITORE,MAEVE,9,NJSLA,05/19/2025,ALG01,738.0,3.0,010
4,1080042902,905495.0,RICCI,JULIAN,9,NJSLA,05/19/2025,ALG01,784.0,4.0,010
6,1084645466,910879.0,ZEILSTRA,OEDSE,9,NJSLA,05/19/2025,ALG01,768.0,4.0,010
8,1089349464,906826.0,STINE,ABIGAIL,9,NJSLA,05/19/2025,ALG01,776.0,4.0,010
...,...,...,...,...,...,...,...,...,...,...,...
5866,9884559073,908236.0,SEBESTYAN,FLORA,3,NJSLA,05/14/2025,MAT03,729.0,3.0,007
5868,9927563260,910332.0,MANGANELLI,LEO,3,NJSLA,05/14/2025,MAT03,764.0,4.0,007
5870,9947039763,909640.0,SEPASSI,THERESA,3,NJSLA,05/14/2025,MAT03,756.0,4.0,007
5872,9976613081,908759.0,PANCHAL,DIYA,5,NJSLA,05/14/2025,MAT05,719.0,2.0,007
5874,9978586579,909314.0,CRANE,GIANA,3,NJSLA,05/14/2025,MAT03,783.0,4.0,007

In [17]:
df_ela

,StateStudentIdentifier,LocalStudentIdentifier,LastOrSurname,FirstName,ELATEST,ELASCORE,ELAPL,Entity
1,1002819066,905930.0,COPPOLA,ZOE,ELA09,791.0,5.0,010
3,1031843015,906012.0,PRETTITORE,MAEVE,ELA09,738.0,3.0,010
5,1080042902,905495.0,RICCI,JULIAN,ELA09,747.0,3.0,010
7,1084645466,910879.0,ZEILSTRA,OEDSE,ELA09,738.0,3.0,010
9,1089349464,906826.0,STINE,ABIGAIL,ELA09,816.0,5.0,010
...,...,...,...,...,...,...,...,...
5867,9884559073,908236.0,SEBESTYAN,FLORA,ELA03,720.0,2.0,007
5869,9927563260,910332.0,MANGANELLI,LEO,ELA03,747.0,3.0,007
5871,9947039763,909640.0,SEPASSI,THERESA,ELA03,774.0,4.0,007
5873,9982724926,908788.0,DISHUK,NATHAN,ELA05,822.0,5.0,003
5875,9978586579,909314.0,CRANE,GIANA,ELA03,762.0,4.0,007

In [18]:
njsla_upload = df_math.merge(df_ela, on = 'StateStudentIdentifier', how = 'left')

njsla_upload = njsla_upload[['StateStudentIdentifier','LocalStudentIdentifier_x','LastOrSurname_x','FirstName_x',
   'GradeLevelWhenAssessed','TEST','TEST DATE','MATHTEST','MATHSCORE','MATHPL', 'ELATEST','ELASCORE','ELAPL', 'Entity_x']]

njsla_upload.rename(columns = {'LocalStudentIdentifier_x':'LocalStudentIdentifier','LastOrSurname_x':'LastOrSurname',
                               'FirstName_x':'FirstName','Entity_x':'Entity'}, inplace = True)

In [19]:
njsla_upload['Entity'].unique()

array(['010', '008', '009', '002', '004', '005', '006', '003', '007'],
      dtype=object)

In [20]:
njsla_upload_3 = njsla_upload[njsla_upload['GradeLevelWhenAssessed'] == 3]
njsla_upload_4 = njsla_upload[njsla_upload['GradeLevelWhenAssessed'] == 4] 
njsla_upload_5 = njsla_upload[njsla_upload['GradeLevelWhenAssessed'] == 5] 
njsla_upload_6 = njsla_upload[njsla_upload['GradeLevelWhenAssessed'] == 6] 
njsla_upload_7 = njsla_upload[njsla_upload['GradeLevelWhenAssessed'] == 7] 
njsla_upload_8 = njsla_upload[njsla_upload['GradeLevelWhenAssessed'] == 8] 
njsla_upload_9 = njsla_upload[njsla_upload['GradeLevelWhenAssessed'] == 9] 
njsla_upload_10 = njsla_upload[njsla_upload['GradeLevelWhenAssessed'] == 10]

In [21]:
njsla_upload_3.to_csv('njsla_upload_3.csv', index = False)
njsla_upload_4.to_csv('njsla_upload_4.csv', index = False) 
njsla_upload_5.to_csv('njsla_upload_5.csv', index = False) 
njsla_upload_6.to_csv('njsla_upload_6.csv', index = False) 
njsla_upload_7.to_csv('njsla_upload_7.csv', index = False)
njsla_upload_8.to_csv('njsla_upload_8.csv', index = False)
njsla_upload_9.to_csv('njsla_upload_9.csv', index = False)
njsla_upload_10.to_csv('njsla_upload_10.csv', index = False)